ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173
STORAGE_DIR=storage
TEMP_DIR=storage/temp
RESULTS_DIR=storage/results

WHISPER_MODEL=medium
TRANSCRIPTION_PROVIDER=openai
OPENAI_API_KEY=**your-api-key**

LLM_PROVIDER=gemini
LLM_MODEL=models/gemini-2.5-flash
LLM_API_KEY=changeme
GEMINI_API_KEY=**your-api-key***

TTS_PROVIDER=azure
TTS_VOICE=en-US-JennyMultilingualNeural
AZURE_SPEECH_KEY=changeme
AZURE_SPEECH_REGION=eastus


